body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img{
    cursor: pointer;
    margin: 10px;
}

#lblResultado{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
