body{
    font-family: Arial, sans-serif;
    margin: 30px;
}

input{
    padding: 8px;
    margin: 5px 0;
}

input[type="button"]{
    cursor: pointer;
}

#lblResultado{
    margin-top: 15px;
    white-space: pre-line; /* para respetar los \n */
    font-weight: bold;
}
